@charset "utf-8";
html,body {height: 100%;}
html,body,p,h1,h2,h3,h4,h5,h6,ul,dl,dd,td,input,button,fieldset,textarea,option{ margin:0; padding:0;}
li{list-style:none;}
a{text-decoration:none;}
img{border:none; vertical-align:top;}
img[src='']{ opacity:0; }
a,input{outline:none;}
body{font-family: 'Avenir', Helvetica, Arial, sans-serif;font-size: 0.28rem;}

.clear{zoom:1;}
.clear:after{content:"."; display:block; clear:both; height:0; visibility:hidden;}

/* input::-webkit-input-placeholder{
  color: #9b9b9b;
} */
html,body {
  /* max-width: 640px; */
  margin: 0 auto;
  width: 100%;
}

* {
  box-sizing: border-box;
}

.wh100 {
  width: 100%;
  height: 100%;
}

.margin0auto {
  margin: 0 auto;
}

.wh100 {
  width: 100%;
  height: 100%;
}

button,input {
  outline: none;  
  border: 0;
  background-color: transparent;
  outline: none;
}

.fl{float:left;}
.fr{float:right;}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexJC {
  display: flex;
  justify-content: center;
}
.flexAI {
  display: flex;
  align-items: center;
}

.disFlex {
  display: flex;
}

.flex-column {
 flex-direction: column
}

.flex1 {
  flex: 1
}

.disJcsb {
  display: flex;
  justify-content: space-between;
}

.disJcsbAc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.disJcsa {
  display: flex;
  justify-content: space-around;
}

.flexdcolumn {
  flex-direction: column;
}

.flexWrap{
  flex-wrap: wrap;
}

.text-align {
  text-align: center;
}

.fff {
  color: #fff;
}

.black {
  color: #333;
}

.color999 {
  color: #999999
}

.bg-fff {
  background-color: #fff;
}

.f11 {
  font-size: 0.22rem;
}
.f13 {
  font-size: 0.26rem;
}
.f14 {
  font-size: 0.28rem;
}

.f15 {
  font-size: 0.3rem;
}

.f16 {
  font-size: 0.32rem;
}

.f17 {
  font-size: 0.34rem;
}

.f18 {
  font-size: 0.36rem;
}

.f20 {
  font-size: 0.4rem;
}

.f25 {
  font-size: 0.5rem;
}
.f30 {
  font-size: 0.6rem;
}

.font-bold {
  font-weight: bold;
}

.m15 {
  margin-top: 0.3rem;
}

.m8 {
  margin-top: 0.16rem;
}
.m10 {
  margin-top: 0.2rem;
}

.mlr15 {
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}

.br10 {
  border-radius: 0.2rem;
}



.shade {
  position: absolute;
  background:rgba(0,0,0,0.4);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.shade_box {
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  background-color: #fff;
}

/* 按钮渐变色 */

.btn-gradient {
  background:linear-gradient(90deg,rgba(151,101,4,1),rgba(231,203,102,1));
}

.top-gradient {
  background:linear-gradient(143deg,rgba(160,111,29,1),rgba(215,182,63,1));
}

.box-sh20 {
  box-shadow:0px 0px 20px 0px rgba(0, 0, 0, 0.08);
}

